pandas
numpy

scipy
statsmodels

matplotlib
seaborn
plotly

scikit-learn
imbalanced-learn
category_encoders
xgboost
lightgbm
shap

streamlit
flask
requests
gunicorn

pytest
pytest-flask
flake8
mypy
black
pylint

ipython
ipykernel
ipywidgets

# mlflow
# mlflow[extras]